




<div class="time_edit">
	<div class="time_edit_hedder"></div>
	   <div class="time_edit_in">
	      <%= form_for @time_table do |f| %>

	      <div class="">
	      	<p>時間を入力してください</p>

	      	      <!-- <%= f.text_field  %> -->
				 <%= f.fields_for :time_tables do |d| %>
		  			<% i = 0 %>
				  <%= f.select :first_time, [["休み", "#{100}"], ["8時", "#{8}"], ["9時", "#{9}時"], ["10時", "#{10}"], ["11時", "#{11}"], ["12時", "#{12}"], ["13時", "#{13}"], ["14時", "#{14}"], ["15時", "#{15}"], ["16時", "#{16}"], ["17時", "#{17}"], ["18時", "#{18}"], ["19時", "#{19}"], ["20時", "#{20}"], ["21時", "#{21}"], ["22時", "#{22}"]], {}, {class: 'form'}  %>

				  <%= f.select :last_time, [["休み", "#{100}"], ["00分", "#{0}"], ["30分", "#{30}"]], {}, {class: 'form'}  %>

				     ~

				  <%= f.select :first_timex, [["休み", "#{100}"], ["8時", "#{8}"], ["9時", "#{9}時"], ["10時", "#{10}"], ["11時", "#{11}"], ["12時", "#{12}"], ["13時", "#{13}"], ["14時", "#{14}"], ["15時", "#{15}"], ["16時", "#{16}"], ["17時", "#{17}"], ["18時", "#{18}"], ["19時", "#{19}"], ["20時", "#{20}"], ["21時", "#{21}"], ["22時", "#{22}"]], {}, {class: 'form'}  %>

				  <%= f.select :last_timex, [["休み", "#{100}"], ["00分", "#{0}"], ["30分", "#{30}"]], {}, {class: 'form'} %>

		         <% end %>
	     </div>
	     <div class="checkbox">
			<label>
				<input type="checkbox" value="checkboxA"> 休み
			</label>
	     </div>

         <%= f.submit "登録" %>
         <% end %>
        </div>
</div>