
<header class="header">

</header>
<ul class="nav nav-tabs nav-justified" style="background-color:rgba(51,255,0,0.1); margin-bottom: 10px;">
	<li role="presentation" style="border: solid 1px #999999;"><%= link_to "ホーム", (time_tables_path) %></li>
	<li role="presentation" style="border: solid 1px #999999;"><%= link_to "マンニングページ", (mannings_path) %></li>
	<li role="presentation" style="border: solid 1px #999999;"><%= link_to "従業員一覧", (employees_path) %></li>
</ul>

<div>
	<table>
		<tr>
			<th></th>

	<% @time_tables.each do |time| %>
			<th><div class="day"><%= time.date %></div></th>
	<% end %>

            <td><div class="day"></div></td>
			<td><div class="day"></div></td>

		</tr>

		<tr>
			<td><div class="boxaa"></div></td>
			<% 15.times do |i| %>
			<td><div class="boxa"></div></td>
			<% end %>
			<td><div class="boxa"></div></td>
			<td><div class="boxa"></div></td>
		</tr>


    <% @employees.each do |employee| %>

		<tr>
			<td>
				<%= link_to (edit_employee_path(employee.id)), :style => "text-decoration: none;", :class => "link" do %>
				<div class="boxe"><%= employee.name %></div>
				<% end %>
			</td>


    <% date = DateTable.find_by(employee_id: employee.id, date: "2018-11-01") %>
    <% unless date == nil %>
    <% time = TimeTable.where(date_table_id: date.id) %>

    <% time.each do |t| %>

        <% if t.first_time != 100 %>
            <td>
            <%= link_to (edit_time_table_path(t)), :style => "text-decoration: none;", :class => "link" do %>
	        	<div class="box">
	        	       <%= t.first_time %>:<%= t.last_time %>
                       ~
	        	       <%= t.first_timex %>:<%= t.last_timex %>
	        	</div>
	        <% end %>
	        </td>
        <% else %>

	        <td>
	        	<div class="box" style="background-color:rgba(59,0,0,0.3);">
	        		<div style="margin: 28px 0px 0px 28px;">
	        	      <%= image_tag 'stamp_yasumi.png', :width =>'30px', :height =>'30px' %>
	        	    </div>
	        	</div>
	        </td>
	        <% end %>
	       <% end %>
	      <% end %>

			<td><div class="boxt">総労働時間<br/><%= @all_aa %></div></td>
			<td><div class="boxt">残業時間</div></td>
		</tr>
<% end %>
	</table>
</div> 




<!-- サイドの固定 -->
