

<%= render 'layouts/admin_header' %>

<div class="res">
	<div class="shift">
		<div class="month"><%= DateTable.find_by(date: Date.new(Date.today.year.to_i,Date.today.month.to_i + 1)).date.month %>月</div>
		<div style="text-align: center;color:#800000;"><%= link_to "＜＜", time_tables_path, class: "btn btn-default btn-xs" %>16日〜<%= Date.new(Date.today.year.to_i,Date.today.month.to_i + 1).end_of_month.day%>日</div>

		<table class="table-sortable ui-sortable table-responsive"id="sortable">
			<thead>
				<tr>
					<th></th>

					<% @time_tables.each do |sss| %>
						<% if %w(日 月 火 水 木 金 土)[sss.date.wday] == "日" %>
			                <th>
								<%= link_to (manning_path(sss.date.day)), :style => "text-decoration: none;", :class => "link" do %>
								    <div class="day" style="color:red;"><%= sss.date.day %>日 (<%= %w(日 月 火 水 木 金 土)[sss.date.wday] %>)</div>
								<% end %>
							</th>
						<% elsif  %w(日 月 火 水 木 金 土)[sss.date.wday] == "土" %>
						    <th>
								<%= link_to (manning_path(sss.date.day)), :style => "text-decoration: none;", :class => "link" do %>
								    <div class="day" style="color:blue;"><%= sss.date.day %>日 (<%= %w(日 月 火 水 木 金 土)[sss.date.wday] %>)</div>
								<% end %>
							</th>
						<% else %>
						    <th>
								<%= link_to (manning_path(sss.date.day)), :style => "text-decoration: none;", :class => "link" do %>
								    <div class="day"><%= sss.date.day %>日 (<%= %w(日 月 火 水 木 金 土)[sss.date.wday] %>)</div>
								<% end %>
							</th>
						<% end %>
					<% end %>

		            <td><div class="day"></div></td>
					<td><div class="day"></div></td>

				</tr>
		    </thead>

			<tr>
				<td><div class="boxaa"></div></td>
				   <% @time_tables.each do |i| %>
				<td><div class="boxa"><input type="text" class="form-control"></div></td>
				　　<% end %>
				<td><div class="boxa"></div></td>
				<td><div class="boxa"></div></td>
			</tr>
			<tbody>
	            <% i = 0 %>
		        <% @employees.each do |employee| %>

				<tr class="item" data-model-name="employee" data-update-url="/employees/<%= employee.id %>/sort">
					<td class="boxe_a">
						<%= link_to (edit_employee_path(employee.id)), :style => "text-decoration: none;", :class => "link" do %>
						    <div class="boxe"><%= employee.name %></div>
						<% end %>
					</td>


				    <% date = DateTable.find_by(employee_id: employee.id, date: Date.new(Date.today.year.to_i,Date.today.month.to_i + 1)) %>
				        <% unless date == nil %>
				    <% @time = TimeTable.where(date_table_id: date.id, date: Date.new(Date.today.year.to_i,Date.today.month.to_i + 1,16)..Date.new(Date.today.year.to_i,Date.today.month.to_i + 1).end_of_month) %>

				     <% @time.each do |t| %>
			            <% if t.first_time != 100 %>
				            <td>
				                <div data-date="<%= t.date %>" data-ei="<%= employee.id %>" data-ft="<%= t.first_time %>" data-lt="<%= t.last_time %>" data-ftx="<%= t.first_timex %>"data-t_id="<%=t.id%>" data-ltx="<%= t.last_timex %>"data-en="<%= employee.name %>"class="edit_button">
					        	    <div class="box">
					        	    	<% if t.last_time == 0 && t.last_timex == 0 %>
					        	    	       <%= t.first_time %>:00
						                       ~
							        	       <%= t.first_timex %>:00
						        	    	<% elsif t.last_time == 0 %>
						        	    	   <%= t.first_time %>:00
						                       ~
							        	       <%= t.first_timex %>:<%= t.last_timex %>
							        	    <% elsif t.last_timex == 0 %>
						        	    	   <%= t.first_time %>:<%= t.last_time %>
						                       ~
							        	       <%= t.first_timex %>:00
						        	    	<% else %>
							        	       <%= t.first_time %>:<%= t.last_time %>
						                       ~
							        	       <%= t.first_timex %>:<%= t.last_timex %>
							        	<% end %>
					        	    </div>
					        	</div>
					        </td>
			            <% else %>
					        <td>
					           <div data-date="<%= t.date %>" data-ei="<%= employee.id %>" data-ft="<%= t.first_time %>" data-lt="<%= t.last_time %>" data-ftx="<%= t.first_timex %>"data-t_id="<%=t.id%>" data-ltx="<%= t.last_timex %>"data-en="<%= employee.name %>"class="edit_button">
					        	  <div class="box" style="background-color:rgba(59,0,0,0.3);">
					        		  <div class="yasumi_image">
					        	          <%= image_tag '/images/stamp_yasumi.png', :size =>'20x20', :class =>'yasumi' %>
					        	      </div>
					        	  </div>
					           </div>
					        </td>
				        <% end %>
				        <% end %>
				        <% end %>

		　　　　　　　　　<% if @p[i] > 45 %>
						　　<td><div class="boxt">総労働時間<br/><%= @a[i] %></div></td>
						　　<td><div class="boxt" style="color: red; font-size: 5px;">残業時間が45時間を超えています<br/><%= @p[i] %></div></td>
						<% else %>
						   <td><div class="boxt">総労働時間<br/><%= @a[i] %></div></td>
						　　<td><div class="boxt">残業時間<br/><%= @p[i] %></div></td>
						<% end %>
						<% i += 1 %>
					</tr>
				<% end %>
			</tbody>
	   </table>

	 <div class="sign_modal_wrapper"></div>
    	<div class="sign_modal">
    		<span class="fa_wrapper"><i class="fas fa-backspace"></i></span>
    		<div class="sign_modal_edit sign_modal_content">
    			  <P class="ja" style="font-size: 20px;">時間編集</P>
			    <div class="input-group">
					 <div id="employee_name"></div>
					 <form class="edit_time_table" id="edit_time_table" action="/time_tablesaa" method="post" accept-charset="UTF-8">
						<input type="" class="" name="time_table[date]" id="time_table_date"><br/>
						<select type="integer" style="margin-left:15px" class="form"  name="time_table[first_time]" id="time_table_first_time"></select>
						<select type="integer" class="form" name="time_table[last_time]" id="time_table_last_time"></select>
						~
						<select type="integer" class="form" name="time_table[first_timex]" id="time_table_first_timex"></select>
						<select type="integer" class="form" name="time_table[last_timex]" id="time_table_last_timex"></select>
						<input type="checkbox" value="100" name="time_table[first_time]" id="time_table_first_time"class="" >休み

						<input type="hidden" value="asdf" name="" id="employee_id">
						<div>
						  <input type="submit" name="commit" value="登録" class="follow_submit" date-disable-with="登録">
					    </div>
                    </form>
				</div>
			</div>
        </div>
</div>




<script>
	$(function() {
		$(document).on('click', '.edit_button', function() {
			$('#time_table_date').val('');
			$('#time_table_first_time').find($('option')).remove();
			$('#time_table_last_time').find($('option')).remove();
			$('#time_table_first_timex').find($('option')).remove();
			$('#time_table_last_timex').find($('option')).remove();
			$('#employee_name').val('');

			$('#time_table_date').val($(this).data('date'));
			$('#employee_id').val($(this).data('ei'));
			$('#time_table_first_time').val($(this).data('ft'));
			$('#time_table_last_time').val($(this).data('lt'));
			$('#time_table_first_timex').val($(this).data('ftx'));
			$('#time_table_last_timex').val($(this).data('ltx'));
			$('#employee_name').text($(this).data('en'));
			$('.edit_time_table').attr('action', 'time_tablesaa/' + $(this).data('t_id'));
			// alert($(this).data('en'));
			// if ($(this).data('ft') == 100){alert()}

			var j = $(this).data('ft');
			if ($(this).data('ft') == 100) {
				$('#time_table_first_time').append('<option selected="selected" value=100>休み</option>');
			    for (var i = 8; i <= 22; i++) {
					$('#time_table_first_time').append('<option value='+i+'>'+ i +'時</option>');
	            }
			}else{
	　　　　　　  for (var i = 8; i <= 22; i++) {

				    if (j == i) {
						$('#time_table_first_time').append('<option selected="selected" value='+i+'>'+ i +'時</option>');
					} else {
						$('#time_table_first_time').append('<option value='+i+'>'+ i +'時</option>');
					}
		    }}
			        $('#time_table_first_time').append('<option value=100>休み</option>');

			var j = $(this).data('lt');
			if ($(this).data('lt') == 100) {
				$('#time_table_last_time').append('<option selected="selected" value=100>休み</option>');
			    for (var i = 0; i <= 30; i+=30) {
			    	$('#time_table_last_time').append('<option value='+i+'>'+ i +'分</option>');
			    }
			}else{
				for (var i = 0; i <= 30; i+=30) {
				if (j == i) {
					$('#time_table_last_time').append('<option selected="selected" value='+i+'>'+ i +'分</option>');
				} else {
					$('#time_table_last_time').append('<option value='+i+'>'+ i +'分</option>');
				}
			}}
			        $('#time_table_last_time').append('<option value=100>休み</option>');

			var j = $(this).data('ftx');
			if ($(this).data('ft') == 100) {
				$('#time_table_first_timex').append('<option selected="selected" value=100>休み</option>');
			    for (var i = 8; i <= 22; i++) {
					$('#time_table_first_timex').append('<option value='+i+'>'+ i +'時</option>');
	            }
			}else{
	　　　　　　  for (var i = 8; i <= 22; i++) {

				    if (j == i) {
						$('#time_table_first_timex').append('<option selected="selected" value='+i+'>'+ i +'時</option>');
					} else {
						$('#time_table_first_timex').append('<option value='+i+'>'+ i +'時</option>');
					}
		    }}
			        $('#time_table_first_timex').append('<option value=100>休み</option>');

			var j = ($(this).data('ltx'));
			if ($(this).data('lt') == 100) {
				$('#time_table_last_timex').append('<option selected="selected" value=100>休み</option>');
			    for (var i = 0; i <= 30; i+=30) {
			    	$('#time_table_last_timex').append('<option value='+i+'>'+ i +'分</option>');
			    }
			}else{
				for (var i = 0; i <= 30; i+=30) {
				if (j == i) {
					$('#time_table_last_timex').append('<option selected="selected" value='+i+'>'+ i +'分</option>');
				} else {
					$('#time_table_last_timex').append('<option value='+i+'>'+ i +'分</option>');
				}
			}}
			        $('#time_table_last_timex').append('<option value=100>休み</option>');

		})
	})

	$(function() {

	})
</script>











<!-- サイドの固定 -->
