<header class="header">
<h1>従業員シフト送信ページ</h1>
</header>


<!-- 一括登録の実装 -->

<div>
<%= 15.times do |t| %>
	<%= form_for(@time) do |f| %>
	<div class= "container">
		<div class= "item"><%= f.label :"#{t+1}日" %></div>

		<div class= "item">
			<%= f.select :first_time, [["8時", "#{8}"], ["9時", "#{9}時"], ["10時", "#{10}"], ["11時", "#{11}"], ["12時", "#{12}"], ["13時", "#{13}"], ["14時", "#{14}"], ["15時", "#{15}"], ["16時", "#{16}"], ["17時", "#{17}"], ["18時", "#{18}"], ["19時", "#{19}"], ["20時", "#{20}"], ["21時", "#{21}"], ["22時", "#{22}"]], {}, {class: "form"} %>
		</div>

		<div class= "item">
		    <%= f.select :last_time, [["00分", "#{0}"], ["30分", "#{30}"]], {}, {class: "form"} %>
		</div>
	</div>
	<% end %>
<% end %>
</div>

<!-- <div>
	<%=  l(Time.now, format: :long)%>
</div> -->






