
<%= render 'layouts/admin_header' %>


<!-- 　31行目までは労働時間を出すための計算 -->
			    <% date = DateTable.find_by(employee_id: @employee.id, date: "2018-11-01") %>
			        <% unless date == nil %>
			    <% time = TimeTable.where(date_table_id: date.id) %>

			        <% @working_time = 0 %> <!-- 労働時間 -->
			        <% @over_time = 0 %>  <!-- 残業時間 -->

			     <% time.each do |t| %>

		            <% @all_working_time = t.first_timex - t.first_time %>
		            <% @lt = t.last_timex -  t.last_time %>

	            <% if @lt == 30 %>
	                <%  @all_working_time += 0.5 %>

	            <% elsif @lt == -30 %>
	                <% @all_working_time -= 0.5 %>

	            <% end %>
	            <% @working_time += @all_working_time %>
 <!-- 　10行目から労働時間を出すための計算 -->
 <!-- 　36行目まで残業時間を出すための計算 -->
	             <%  @all_over_time = @all_working_time - 8 %>
			    <% if @all_over_time >= 0 %>
			    <% @over_time += @all_over_time %>
<!-- 32行目から残業時間を出すための計算 -->
			    <% end %>
                <% end %>
                <% end %>

<div>
	<div class="edit_employee">
	     <p style="text-align: center; background-color:rgba(105,255,110,1);">従業員詳細</p>
	    <table class="table" style="margin-top: 50px;">
			<tr>
				<td>
			      <div>名前</div>
			    </td>
			    <td>
			    	<div><%= @employee.name %></div>
			    </td>
			</tr>
			<tr>
				<td>
					<div>従業員No.</div>
				</td>
				<td>
			       <div><%= @employee.number %></div>
			    </td>
			</tr>
			<tr>
				<td>
					<div>今月の総労働時間</div>
				</td>
				<td>
			       <div><%= @working_time %>時間</div>
			    </td>
			</tr>
			<% if @over_time > 45 %>
			   <tr>
					<td>
						<div>今月の残業時間</div>
					</td>
					<td>
				       <div style="color:red;">残業時間が45時間を超えています<br/><%= @over_time %>時間</div>
				    </td>
				</tr>
			<% else %>
				<tr>
					<td>
						<div>今月の残業時間</div>
					</td>
					<td>
				       <div><%= @over_time %>時間</div>
				    </td>
				</tr>
			<% end %>

	    </table>
			<div style="margin-left: 400px;"><%= link_to "削除", employee_path(@employee.id), method: :delete, "data-confirm" => "本当に削除しますか？", :style => "text-decoration: none;", :class => "btn btn-primary"%></div>
	</div>
</div>