

<%= render 'layouts/new_header' %>




<body class= "top">
	<div class="container" style="width:100%;">
		<div class="item square_btn" style="width:600px; height:450px; background:linear-gradient(#1E00FF, #05FBFF); margin:100px 0px 0px 60px; box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/">
			<%= link_to (new_admin_session_path), class: "link" do %>
					<div style= "padding: 60px 0px 0px 0px; ">
						<%= image_tag '/images/saraly.jpg', :size =>'300x250' %>
					</div>
					<div>
						<h3 style= "font-size: 40px; padding-left: 10px;">管理者の方はこちら</h3>
					</div>
			<% end %>
	    </div>

	       <% if employee_signed_in? %>


	       <% if DateTable.exists?(employee_id: current_employee.id) %>

	           <% date = DateTable.find_by(employee_id: current_employee.id) %>
			       <div class="item square_btn_a" style="width:600px; height:450px; background:linear-gradient(#F4A460, #FFDBC9); margin:100px 0px 0px 100px; box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/">
			            <%= link_to edit_date_table_path(date.id), class: "link" do %>
					    <div style= "padding: 60px 0px 0px 0px; ">
						    <%= image_tag '/images/team.jpg', :size =>'300x250' %>
					    </div>

					    <div>
						    <h3 style= "font-size: 40px; padding-left:10px;">従業員の方はこちら</h3>
		                </div>
		            <% end %>
			       </div>

	       <% else %>

	                <div class="item square_btn_a" style="width:600px; height:450px; background:linear-gradient(#F4A460, #FFDBC9); margin:100px 0px 0px 100px; box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/">
	                    <%= link_to new_date_table_path, class: "link" do %>
			                <div style= "padding: 60px 0px 0px 0px; ">
				                <%= image_tag '/images/team.jpg', :size'300x250' %>
			                </div>

			                <div>
				                <h3 style= "font-size: 40px; padding-left:10px;">従業員の方はこちら</h3>
                            </div>
                        <% end %>
	                </div>
	       <% end %>

	   <% else %>

		   <div class="item square_btn_a" style="width:600px; height:450px; background:linear-gradient(#F4A460, #FFDBC9); margin:100px 0px 0px 100px; box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/">
		        <%= link_to new_employee_session_path, class: "link" do %>
					<div style= "padding: 60px 0px 0px 00px; ">
						<%= image_tag '/images/team.jpg', :size =>'300x250' %>
					</div>
					<div>
						<h3 style= "font-size: 40px; padding-left:10px;">従業員の方はこちら</h3>
		            </div>
	            <% end %>
		   </div>
	   <% end %>
	</div>

</body>

