
<header class="header">
<h1>Tops#top</h1>
</header>

<body class= "top">
	<div class="container">
		<div class="item" style="width:200px; height:200px; background-color:#5D99FF; margin:0px 0px 0px 380px;">
			<%= link_to (new_admin_session_path), class: "link" do %>
			<div style= "padding: 15px 0px 0px 35px; ">
				<%= image_tag 'saraly.jpg', :width =>'120px', :height =>'100px' %>
			</div>
			<div>
				<h3 style= "font-size: 20px; padding-left: 10px;">管理者の方はこちら</h3>
			</div>
			<% end %>
	   </div>
	   <div class="item" style="width:200px; height:200px; background-color:#FFE4B5; margin:0px 0px 0px 200px;">
	        <%= link_to (new_employee_session_path), class: "link" do %>
			<div style= "padding: 15px 0px 0px 35px; ">
				<%= image_tag 'team.jpg', :width =>'120px', :height =>'100px' %>
			</div>
			<div>
				<h3 style= "font-size: 20px; padding-left:10px;">従業員の方はこちら</h3>
			</div>
			<% end %>
	   </div>
	</div>

</body>

<%= link_to "シフト作成ページ", new_time_tables_path %>
