<header class="header_nav">
      <div class="header__menu">
          <nav class="header__menu__nav">
              <%= link_to (root_path) do %>
              <span class="header_image">
                  <%= image_tag '/images/logo3.png', :size =>'150x90', :class =>"image_logo" %>
              </span>
                  <% end %>

          <% if admin_signed_in? %>
              <span class="nav_name" style="color:white"><%= current_admin.admin_name %>さん</span>
          <% else %>
              <span>ログインしてください</span>
          <% end %>

            <% if admin_signed_in? %>
                    <%= link_to  destroy_admin_session_path ,:style => "text-decoration: none; color:white;", :class => "header__menu__nav",  method: :delete  do %>
                   <span class="nav_text">ログアウト</span>
                <% end %>
            <% else %>
                <%= link_to new_admin_session_path,:style => "text-decoration: none; color:white;" do %>
                <span class="nav_text">ログイン</span>
                <% end %>

            <% end %>
        </nav>
      </div>
</header>

<ul class="nav nav-tabs nav-justified " style="background-color:rgba(66,75,87,0.2); text-decoration: none;">
  <li class="nav_list" role="presentation"><%= link_to "TOPページ", (root_path), :style => "text-decoration: none;color:black"  %></li>
  <li class="nsv_list" role="presentation"><%= link_to "シフト作成ページ", (time_tables_path), :style => "text-decoration: none;color:black" %></li>
  <li class="nav_list" role="presentation"><%= link_to "従業員一覧", (employees_path), :style => "text-decoration: none;color:black" %></li>
</ul>