<header class="header_nav">
      <div class="header__menu">
          <nav class="header__menu__nav">
              <%= link_to (root_path) do %>
              <span class="header_image">
                  <%= image_tag 'logo3.png', :width =>'150px', :height =>'90px' %>
              </span>
                  <% end %>

          <% if admin_signed_in? %>
              <span class="nav_name"><%= current_admin.admin_name %>さん</span>
          <% else %>
              <span>ログインしてください</span>
          <% end %>

            <% if admin_signed_in? %>
                    <%= link_to  destroy_admin_session_path ,:style => "text-decoration: none;", :class => "header__menu__nav",  method: :delete  do %>
                   <span class="nav_txt">ログアウト</span>
                <% end %>
            <% else %>
                <%= link_to new_admin_session_path,:style => "text-decoration: none;" do %>
                <span class="nav_txt">ログイン</span>
                <% end %>

            <% end %>
        </nav>
      </div>
</header>