<header class="header_nav">
      <div class="header__menu">
        <% link_to (top_path) do %>
        <div class="header_image">
          <%= image_tag 'karender.png', :width =>'90px', :height =>'60px' %>
        </div>
        <% end %>

        <nav class="header__menu__nav">
          <% if employee_signed_in? %>
            <span class="nav_name"><%= current_employee.name %></span>
          <% else %>
            <span>ログインしてください</span>
          <% end %>
            <% if employee_signed_in? %>

                    <%= link_to  destroy_employee_session_path ,class: "nav__logo", method: :delete  do %>
                   <span class="nav_txt">ログアウト</span>
                <% end %>

            <% else %>

                <%= link_to new_employee_session_path, class: "nav__logo" do %>
                <span class="nav_txt">ログイン</span>
                <% end %>

                <%= link_to new_employee_registration_path, class: "nav__logo"  do %>
　　　　　　　　　<span class="nav_txt">新規登録</span>
                <% end %>

            <% end %>
        </nav>
      </div>
    </header>