<header class="header_nav">
      <div class="">
        <nav>
          <ul style="display: flex; list-style:none;">
           <%= link_to (root_path) do %>
            <li class="header_image">
                <%= image_tag 'logo3.png', :width =>'150px', :height =>'80px' %>
            </li>
          <% end %>
              <% if employee_signed_in? %>
                  <li style="padding: 19px 0px 0px 800px;"><%= current_employee.name %>さんログイン中</li>
                  <%= link_to  destroy_employee_session_path ,class: "", method: :delete  do %>
                      <li class="">ログアウト</li>
                  <% end %>
              <% else %>
                  <li style="padding: 19px 0px 0px 800px;">ログインしてください</li>
                  <li style="padding: 19px 0px 0px 15px;"><%= link_to "ログイン", new_employee_session_path, class: ""  %></li>
                  <li style="padding: 19px 0px 0px 15px;"><%= link_to "新規登録", new_employee_registration_path, class: ""  %></li>
              <% end %>
            </ul>
          </nav>
      </div>
</header>