<header class="header_nav">
      <div class="">
        <nav>
          <ul style="display: flex; list-style:none;">
           <%= link_to (root_path) do %>
            <li class="header_image">
                <%= image_tag '/images/logo3.png', :size =>'150x90' %>
            </li>
          <% end %>
              <% if employee_signed_in? %>
                  <li style="padding: 28px 0px 0px 800px; color:white"><%= current_employee.name %>さん ログイン中</li>
                  <%= link_to  destroy_employee_session_path, :style=>"color:white;", method: :delete  do %>
                      <li style="padding: 28px 0px 0px 30px; color:white">ログアウト</li>
                  <% end %>
              <% else %>
                  <li style="padding: 28px 0px 0px 800px; color:white">ログインしてください</li>
                  <li style="padding: 28px 0px 0px 15px;"><%= link_to "ログイン", new_employee_session_path, :style=>"color:white;"  %></li>
                  <li style="padding: 28px 0px 0px 15px;"><%= link_to "新規登録", new_employee_registration_path, :style=>"color:white;" %></li>
              <% end %>
            </ul>
          </nav>
      </div>
</header>