<header class="header_nav">
           <%= link_to (root_path) do %>
            <span class="header_image">
                <%= image_tag '/images/logo3.png', :size =>'150x90', :class =>"image_logo" %>
            </span>
          <% end %>
              <% if employee_signed_in? %>
                   <span class="nav_name" style="color:white"><%= current_employee.name %>さん ログイン中</span>
                       <%= link_to  destroy_employee_session_path, :style=>"color:white; text-decoration: none;", method: :delete  do %>
                         <span class="nav_text">ログアウト</span>
                       <% end %>
              <% else %>
                   <span class="nav_name" style="color:white">ログインしてください</span>
                       <%= link_to new_employee_session_path, :style=>"color:white; text-decoration: none;" do %>
                           <span class="nav_text">ログイン</span>
                       <% end %>
                       <%= link_to new_employee_registration_path, :style=>"color:white; text-decoration: none;" do %>
                           <span class="nav_text">新規登録</span>
                       <% end %>
              <% end %>
</header>